<%- include("./shared/header.ejs") %>

<% if (locals.element1) { %>
    <h1>Bonjour <%= element1.title %></h1>
<% } %>

<ul>
<% if (locals.element2) { %>
    <% for (const t of element2) { %>
        <li><%= t.content%></li>
    <% } %>
<% } %>
</ul>

<%- include("./shared/footer.ejs") %>